@page
@model ActiveCity.Areas.Admin.Pages.Citizens.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Citizen[0].User.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Citizen[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Citizen[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Citizen[0].Education)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Citizen[0].Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Citizen[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Citizen) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Education)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
